* {
	box-sizing:  border-box;
	margin: 0px;
	padding: 0px;
}
.container{
    width: 80%;
    margin: 0 auto;

}

/*header*/
.logo-margen{
    margin-left: 7%;
    width: 21%;
    margin-top: 2%;
}

.menu{
	color:#95B5D3;
	text-decoration: none;

}
.section1{
    height: 30%;
    background: #808080;
    padding: 4%;
}
nav{
	padding: 20px 5px;
}
nav a{
	text-decoration: none;
    color: #808080;
    padding: 18px;

}
/*section*/
h1{
	color: white;
    font-size: 55px;
}
.parrafo{
    color: white;
    padding-right: 13%;
}
.form-datos{
	padding: 7%;
    background: #9A9A9A;
    border-radius: 4%;
}
h2{
    color: white;
    text-align: center;
}

.boton-form{
    width: 100%;
    padding: 2%;
    color: black;
}
.email{
    margin-bottom: 7%;
}
.boton{
    background-color: #3EB0F7;
    color: white;
    text-decoration: none;
    padding: 4% 40% 2%;
    
}
/*footer*/
.pie{
	margin: 2% 18%;
}
.nk{
	text-decoration: none;
}
@media (max-width: 700px) and(min-width: 200px)
 {
.col-8, .col-4 { width: 100%; }

.boton{ padding: 4% 40% 2%;}
}
